<!--   File name:  aboutme.ejs
     Student name: Man Hon Cheung
     Student ID: 301228570
     date : 8-oct-2022   -->

<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="../Content/app.css" type="text/css">

</head>

<body>

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<h1>About Me </h1>

<div id="index">
<img src="Assets/images/aboutme.JPG" alt="Leo" width="500"  />
<h1>

</h1>


<h1>
<a href="Assets/images/resume.pdf" download="my pdf files"><button id="btnTop">Download the pdf</button></a>
<h1>
</body>


</html>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>