<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<div class="container">
    <!--Title-->
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Homepage </h1>
            <h3 class="subtitle">Man Hon</h3>
        </div>
<link rel="stylesheet" href="../Content/app.css" type="text/css">
<body>



<div id="index">
<img src="Assets/images/me.JPG" alt="Leo" width="200" />
    
    <h5>Please enter the button go back to Homepage</h5>
    <p>This is my website for assigment-2.</p>
    <form action="/" method="http://127.0.0.1:3500/home">
    <button id="btnTop">Default Button</button>

    <%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>